{
    "project_name": "粉化实验测试",
    "sample_name": "粉化实验测试",
    "sample_id": "RDI-20250920-001",
    "experiment_type": "GB/T 13242-2017 铁矿石低温粉化试验方法",
    "experiment_mode_id": "GB_13242_2017",
    "sample_weight": 523.0,
    "operator": "kevin",
    "date": "2026-02-16 20:20:34",
    "notes": "粉化实验测试"
}